{% extends 'containers/base.html' %}

<!-- Title -->
{% block title %} Suppliers ~ New{% endblock %}

<!-- breadcrums -->
{% block breadCrumbs %}
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/app/suppliers">Suppliers</a>
  </li>
  <li class="breadcrumb-item active">New</li>
  <!--  -->
</ul>
<!-- END breadcrumb -->
<h5 class="page-header">NEW <small>Create new supplier information</small></h5>
{% endblock %}

<!-- form plugins here -->
{% load crispy_forms_tags %}

<!-- content here -->
{% block content %}
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8  p-25">
        <form action="/app/suppliers/store/" method="POST">
          {% csrf_token %}
          <!-- form -->
          {{items.newForm|crispy}}
          <hr />
          <button type="submit" class="btn btn-info" style="">Save</button>
          <button type="button" class="btn btn-default btn-sm ">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


