{% extends 'containers/base.html' %}


{% block title %} Suppliers ~ New{% endblock  %}

{% block breadCrumbs %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/app/suppliers">Suppliers</a>
        </li>
        <li class="breadcrumb-item active">New</li>
    <!--  -->
    </ul>
    <!-- END breadcrumb -->
    <!-- BEGIN page-header -->
    <h5 class="page-header">
        NEW <small>Create new supplier information</small>
    </h5>
{% endblock %}
    
{% load crispy_forms_tags %}

{% block content %}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8  p-25">
                <form action="/app/suppliers/store/" method="POST">
                    {% csrf_token %}
                    {{items.newForm|crispy}}
                    {% comment %} <div class="form-group">
                        <label for="address">Supplier Address</label>
                        <textarea class="form-control" name="supplier_address" id="address" rows="3"></textarea>
                    </div> {% endcomment %}
                    <hr>
                    <button type="submit" class="btn btn-info" style="">Save</button>
                    <button type="button" class="btn btn-default btn-sm ">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}