{% extends 'containers/base.html' %}

<!-- title -->
{% block title %} Suppliers ~ New {% endblock %}

<!-- bread crumbs -->
{% block breadCrumbs %}
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/app/suppliers">Suppliers</a>
  </li>
  <li class="breadcrumb-item active">Show</li>
</ul>
<!-- {% comment %}

{% endcomment %}  -->

<h5 class="page-header">
  Show Supplier
</h5>

{% endblock %}
<!-- load form -->
{% load crispy_forms_tags %}

<!-- load Content -->
{% block content %}

<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <span class="float-right">
              <a
                href="{% url 'edit_supplier' code=items.supplier.supplier_code %}"
                class="mr-2 f-s-20"
                ><i class="ti-pencil"></i
              ></a>
              <a
                href="{% url 'delete_supplier' id=items.supplier.id %}"
                class="f-s-20"
              >
                <i class="ti-trash text-danger"></i
              ></a>
            </span>
          </div>
          <div class="col-md-12 text-center">
            <img
              class="img-circle"
              width="200"
              height="200"
              src="https://www.w3schools.com/bootstrap/paris.jpg"
            />
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush mt-2">
        <li class="list-group-item">
          <i class="ti-user"></i>
          <strong>{{items.supplier.supplier_name|capfirst }}</strong>
        </li>
        <li class="list-group-item">
          {% if items.supplier.supplier_status == 'active' %}
          <i class="ti-control-record   text-success"></i>
          <span class="text-success">
            {{items.supplier.supplier_status|capfirst }}
          </span>
          {% else %}
          <i class="ti-control-record text-danger"></i>
          <span class="text-danger">
            {{items.supplier.supplier_status|capfirst }}
          </span>
          {% endif %}
        </li>
        <li class="list-group-item">
          <i class="ti-email"></i>
          <a href="">
            {{items.supplier.supplier_email }}
          </a>
        </li>
        <li class="list-group-item">
          <i class="ti-mobile"></i>
          {{items.supplier.supplier_phone }}
        </li>
        <li class="list-group-item">
          <i class="ti-home"></i>
          {{items.supplier.supplier_address }}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link {% if items.tab == 'orders' %} active {% endif %}"
          id="home-tab"
          href="{% url 'show_supplier' code=items.supplier.supplier_code %}?tab=orders"
        >
          Orders
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if items.tab == 'profile' %} active {% endif %}"
          id="profile-tab"
          href="{% url 'show_supplier' code=items.supplier.supplier_code %}?tab=profile"
          >Profile</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {% if items.tab == 'contact' %} active {% endif %}"
          id="contact-tab"
          href="{% url 'show_supplier' code=items.supplier.supplier_code %}?tab=contact"
          >Contact</a
        >
      </li>
    </ul>
    <div class="tab-content bg-white" id="myTabContent">
      <div
        class="tab-pane fade  {% if items.tab == 'orders' %} show active {% endif %} "
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        {% include 'views/suppliers/tabs/orders.html' %}
      </div>
      <div
        class="tab-pane fade {% if items.tab == 'profile' %} show active {% endif %}"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        <h1>Profile</h1>
      </div>
      <div
        class="tab-pane fade {% if items.tab == 'contact' %} show active {% endif %}"
        id="contact"
        role="tabpanel"
        aria-labelledby="contact-tab"
      >
        <h1>Contact</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- for js content -->
{% block extraJS %}
<script></script>
{% endblock %}
