<div class="login">
  <!-- BEGIN login-cover -->
  <div class="login-cover"></div>
  <!-- END login-cover -->
  <!-- BEGIN login-content -->
  <div class="login-content">
    <!-- BEGIN login-brand -->
    <div class="login-brand">
      <a href="#">
        <span class="logo"><i class="ti-infinite"></i></span>
        Electronic Inventory Management System
      </a>
    </div>
    <div class="m-t-20">
      <h5>You are not authenticated.</h5>
      Please Login <a href="/app/login"><i>here.</i></a>
      Or Not a member yet? Register
      <a href="/app/register"><i> here.</i></a>
    </div>
    <!-- END login-brand -->
  </div>
  <!-- END login-content -->
</div>
